<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments.html :: head"></div>
<div th:insert="fragments.html :: menu"></div>

<body>
    <form method="post" th:action="@{/bid/} + ${jobId}" th:object="${bidForm}">
        <div class="container">
            <h3 th:if="${error != null}" th:text="#{bid.error}"></h3>
            <label><b th:text="#{field.bidAmount}"></b></label>
            <input type="number" min="0" step="any" th:placeholder="#{field.bidAmount}" name="amount" required>

            <a th:href="@{/viewJobs}"><button type="button" th:text="#{cancel}"></button></a>
            <button type="submit" th:text="#{bid}"></button>
        </div>
    </form>
</body>
</html>