<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments.html :: head"></div>
<div th:insert="fragments.html :: menu"></div>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="user,iterationCount : ${registeredUsers}"
            th:class="${iterationCount.odd}? 'odd'"
            th:object="${user}"	>
            <td th:text="*{userId}">1</td>
            <td th:text="*{name}">Name</td>
        </tr>
    </table>
</body>
</html>